.tunde {
  display: flex;

  justify-content: flex-end;
  /* align-items: center; */
  width: 100%;
  gap: 30px;
}
.Login5 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
  background: #ffffff;
  width: 182px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: #438b42;
  color: #ffffff;
}
.Login {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
  background: #ffffff;
  width: 132px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: #438b42;
  color: #ffffff;
}
.Login2 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
  background: #ffffff;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: #438b42;
  color: #ffffff;
}
.Schedule {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 247px;
  height: 55px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #438b42;
}
.Schedule3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 100%;
  height: 55px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #438b42;
}
.Schedule3-white {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 100%;
  height: 55px;
  background-color: white;
  border-radius: 5px;
  border: none;
}
.bloood {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #ffffff;
  width: 247px;
  height: 55px;
  background-color: #438b42;
  border-radius: 5px;
  border: none;
}
.wjduya {
  background-image: url('../images/image\ 3.png');
  background-position: center;
  background-size: cover;
  margin-top: -120px;
  padding-top: 180px;
  padding-bottom: 40px;
}
.hghg {
  background-color: #438b4208;
}
.early {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.35px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #111010;
}
.only {
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-top: 30px;
  color: #292d32;
}
.hfu {
  margin-top: 40px;
}
.gnions {
  width: 100%;
  height: 100%;
}
.gnions img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wijbs {
  margin-top: 70px;
}
.earlyss {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.jduu {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  letter-spacing: 0.015em;
  text-align: center;
  width: 70%;
  color: #438b42;
}
.helped {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
  width: 60%;
  margin-top: 30px;
}
.drastic {
  margin-top: 98px;
}
.hiw {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.26px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
}
.Discover {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
  margin-top: 10px;
}
.jass {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #fffaf6;
}
.jass2 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #fef3f6;
}
.jass3 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #e3e9f1;
}
.jass4 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #e8f3f2;
}
.nummm {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.35px;
  text-align: left;
  color: #0d2e54;
}
.second_draw {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  text-align: left;
  margin-top: 8px;
  color: #676767;
}
.online {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #151414;
  margin-top: 10px;
}
.sepre {
  /* */
  padding: 30px;
  min-height: 585px;
  border-radius: 12px;
}
.sepre-green {
  background-color: #438b42;
  padding: 30px;
  box-shadow: 0px 10px 25px 0px #ccd9ff;
  min-height: 585px;
  border-radius: 12px;
}
.spec {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  color: #191d23;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pricss {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
  line-height: 49.31px;
  text-align: left;
  color: #191d23;
  margin-bottom: 20px;
}
.spec-white {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pricss-white {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
  line-height: 49.31px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}
.month {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.78px;
  text-align: left;
  color: #4b5768;
}
.month-white {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.78px;
  text-align: left;
  color: #ffffff;
}
.fhfie {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  color: #191d23;
}
.hero_white {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  color: #ffffff;
}
.feellamont {
  background-color: #438b4208;
}
.stropis {
  background-image: url('../images/image\ 3.png');
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
.welkfh {
  height: 100%;

  width: 100%;
}
.welkfh img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sideups {
  display: flex;
  align-items: center;
}
.dragonloed {
  width: 400px;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-right: -60px;
  z-index: 9;
  border: 1px solid #d9d9d9;
}
.gst {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #438b42;
}
.seee {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #535353;
  margin-top: 10px;
}
.yajhs {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
  background: #ffffff;
  width: 90%;
  height: 55px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background: #438b42;
  color: #ffffff;
}
.jfive {
  display: flex;
  /* justify-content: center; */
  margin-top: 80px;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
}
.Frequently {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #111010;
}
.djdjd {
  width: 60%;
  margin-top: 30px;
}
.bobob {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #535353;
}
.accordion-button:not(.collapsed) {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #111010 !important;
  background-color: transparent !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: '';
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus.svg);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(
    data:image/svg + xml,
    %3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 16 16'fill='none'stroke='%23212529'stroke-linecap='round'stroke-linejoin='round'%3e%3cpathd='M2 5L8 11L14 5'/%3e%3c/svg%3e
  );
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(
    data:image/svg + xml,
    %3csvgxmlns='http://www.w3.org/2000/svg'viewBox='0 0 16 16'fill='none'stroke='%23052c65'stroke-linecap='round'stroke-linejoin='round'%3e%3cpathd='M2 5L8 11L14 5'/%3e%3c/svg%3e
  );
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}
.fflo {
  margin-top: 120px;
  margin-bottom: 30px;
}
.rowd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hgtr {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hgtr div {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: left;
  color: #000000;
}
.hmguw {
  display: flex;
  align-items: center;
  gap: 20px;
}
.jfyuej {
  background-color: #f9fcf9;
}
.bgimage {
  background-image: url('../images/image\ 3.png');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signpropr {
  width: 40%;
  height: fit-content;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 1px solid #eeeeee;
}
.wellc {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.18px;
  text-align: center;

  color: #111111;
}
.lavell {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #111010;
  margin-bottom: 10px;
}
.cherry {
  width: 100%;
  height: 44px;
  padding: 10px 14px 10px 14px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #535353;
}
.drewthelie {
  margin-top: 80px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.barrq {
  width: 40%;
}
.fhyeeu {
  margin-bottom: 40px;
}
.Login2[disabled] {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
.succs {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.18px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.yourwss {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: #767676;
  margin-top: 20px;
  width: 80%;
}
.djueuo {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: center;
  margin-top: 10px;
  color: #111010;
}
@media screen and (max-width: 991px) {
  .wjduya {
    background-image: url('../images/image\ 3.png');
    background-position: center;
    background-size: cover;
    margin-top: -120px;
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .hfu {
    margin-top: 2px !important;
    /* background-color: red; */
  }
  .jass {
    border-radius: 20px;
    padding: 25px;
    min-height: fit-content !important;

    background-color: #fffaf6;
  }
  .jass2 {
    border-radius: 20px;
    padding: 25px;
    min-height: fit-content !important;

    background-color: #fef3f6;
  }
  .jass3 {
    border-radius: 20px;
    padding: 25px;
    min-height: fit-content !important;

    background-color: #e3e9f1;
  }
  .jass4 {
    border-radius: 20px;
    padding: 25px;
    min-height: fit-content !important;

    background-color: #e8f3f2;
  }
  .barrq {
    width: 90%;
  }
  .signpropr {
    width: 90%;
    height: fit-content;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 1px solid #eeeeee;
  }
  .djdjd {
    width: 90%;
    margin-top: 30px;
  }
  .rowd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  .hgtr {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sideups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dragonloed {
    width: 90%;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-right: 0px;
    z-index: none;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
  }
  .tunde {
    display: flex;

    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    gap: 30px;
  }
  .jduu {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 55.14px;
    letter-spacing: 0.015em;
    text-align: center;
    width: 100%;
    color: #438b42;
  }
  .helped {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #111010;
    width: 100%;
    margin-top: 30px;
  }
}
