.tunde {
  display: flex;

  justify-content: flex-end;
  /* align-items: center; */
  width: 100%;
  gap: 30px;
}
.Login {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
  background: #ffffff;
  width: 132px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: #438b42;
  color: #ffffff;
}
.Schedule {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 247px;
  height: 55px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #438b42;
}
.Schedule3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 100%;
  height: 55px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #438b42;
}
.Schedule3-white {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #438b42;
  width: 100%;
  height: 55px;
  background-color: white;
  border-radius: 5px;
  border: none;
}
.bloood {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.13px;
  text-align: center;
  color: #ffffff;
  width: 247px;
  height: 55px;
  background-color: #438b42;
  border-radius: 5px;
  border: none;
}
.wjduya {
  background-image: url('../images/image\ 3.png');
  background-position: center;
  background-size: cover;
  margin-top: -120px;
  padding-top: 180px;
  padding-bottom: 40px;
}
.hghg {
  background-color: #438b4208;
}
.early {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.35px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #111010;
}
.only {
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-top: 30px;
  color: #292d32;
}
.hfu {
  margin-top: 40px;
}
.gnions {
  width: 100%;
  height: 100%;
}
.gnions img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wijbs {
  margin-top: 70px;
}
.earlyss {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.jduu {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  letter-spacing: 0.015em;
  text-align: center;
  width: 70%;
  color: #438b42;
}
.helped {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
  width: 60%;
  margin-top: 30px;
}
.drastic {
  margin-top: 98px;
}
.hiw {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.26px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
}
.Discover {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #111010;
  margin-top: 10px;
}
.jass {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #fffaf6;
}
.jass2 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #fef3f6;
}
.jass3 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #e3e9f1;
}
.jass4 {
  border-radius: 20px;
  padding: 25px;
  min-height: 318px;
  background-color: #e8f3f2;
}
.nummm {
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.35px;
  text-align: left;
  color: #0d2e54;
}
.second_draw {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  text-align: left;
  margin-top: 8px;
  color: #676767;
}
.online {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #151414;
  margin-top: 10px;
}
.sepre {
  background-color: red;
  padding: 30px;
  min-height: 585px;
  border-radius: 12px;
}
.sepre-green {
  background-color: #438b42;
  padding: 30px;
  box-shadow: 0px 10px 25px 0px #ccd9ff;
  min-height: 585px;
  border-radius: 12px;
}
.spec {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  color: #191d23;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pricss {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
  line-height: 49.31px;
  text-align: left;
  color: #191d23;
  margin-bottom: 20px;
}
.spec-white {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pricss-white {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
  line-height: 49.31px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}
.month {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.78px;
  text-align: left;
  color: #4b5768;
}
.fhfie {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  color: #191d23;
}
.hero_white {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .tunde {
    display: flex;

    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    gap: 30px;
  }
  .jduu {
    font-family: Raleway;
    font-size: 64px;
    font-weight: 900;
    line-height: 75.14px;
    letter-spacing: 0.015em;
    text-align: center;
    width: 100%;
    color: #438b42;
  }
  .helped {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #111010;
    width: 100%;
    margin-top: 30px;
  }
}
